<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>The U.Va. Library’s primary mission is to serve University of Virginia students, faculty, and staff, as well as researchers and alumni. A charming favorite. Rooms throughout our libraries can be reserved by faculty, staff, and students affiliated with the University of Virginia for group study, meetings, occasional teaching and presentations.
    </div>
</div>
