<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>Here would go text explaining how to get your proper user account classification  allocated (normally, we'd be using single signon and then authorizing an account with a LDAP lookup).</p>
    </div>
</div>
